# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build/CMakeFiles
/build/cmake_install.cmake
/build/x64
/build/lib
/build/CMakeCache.txt
/build/src/CMakeFiles
/build/src/Debug
/build/src/replication_static.dir
/build/src/cmake_install.cmake
/build/mysql-replication-listener.opensdf
/build/mysql-replication-listener.sdf

